@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background: rgb(221, 213, 213);
  transition: background-color 3s ease;
}

.body {
  transition: background-color 6s ease;
}

/* * {
  scrollbar-width: 6px;
  scrollbar-color: #0f0d0d rgb(234, 96, 96);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(234, 96, 96);
  border-radius: 10px;
  border: 3px solid rgb(234, 96, 96);
}

*::-webkit-scrollbar-corner {
  background: #f0f0f0;
} */

* {
  scrollbar-width: thin;
  scrollbar-color: #0f0d0d rgb(234, 96, 96);
  border-radius: 20px;
}

*::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
}
*::-webkit-scrollbar-track {
  background: orange;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
  border-radius: 20px;
}

*::-webkit-scrollbar-corner {
  border-radius: 20px;
}

.fb_customer_chat_bounce_in_v2_no_badge .fb_dialog_content iframe {
  background-color: transparent;
}

.fb_customer_chat_bounce_in_v2_no_badge .fb_dialog_content iframe {
  border: none;
}

@media (prefers-color-scheme: dark) {
  .fb_customer_chat_bounce_in_v2_no_badge .fb_dialog_content iframe {
    display: none !important;
  }
}
