@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background: rgb(250, 243, 243);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff #133313;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
}
*::-webkit-scrollbar-track {
  background: orange;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
  border-radius: 20px;
}

*::-webkit-scrollbar-corner {
  border-radius: 20px;
}

.fb_customer_chat_bounce_in_v2_no_badge .fb_dialog_content iframe {
  background-color: transparent;
}

.fb_customer_chat_bounce_in_v2_no_badge .fb_dialog_content iframe {
  border: none;
}

@media (prefers-color-scheme: dark) {
  .fb_customer_chat_bounce_in_v2_no_badge .fb_dialog_content iframe {
    display: none !important;
  }
}
